---
import Layout from '@/layouts/Layout.astro';
import ComingSoon from '@/layouts/comingSoon.astro';
import Header from '@/layouts/Header.astro';
---

<Layout title="Fernando Mondragon Portfolio">
	<Header />
	<main>
		<ComingSoon />
	</main>
</Layout>

