<section class="max-w-6xl px-10 h-screen uppercase flex flex-col ml-6 shadow-red-900 pt-40">
  <h2 class="text-2xl pb-12 font-medium">
    New Portfolio webpage
  </h2>

  <h1 class="text-6xl font-bold gradient-text">
    Coming soon...
  </h1>
</section>


<style>
  .gradient-text {
    background: linear-gradient(to left, #ff0000, #370707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
